<% if @feed_items && @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items,
                    params: { controller: :static_pages, action: :home } %>
<% else %>
  <p>No microposts to display.</p>
<% end %>
