<% form_with(model: @group) do |f| %>
    <% render 'shared/error_messages.html', object: f.object %>
    <div class="field">
        <%= f.text_field :name, class: 'form-control form-control-lg', placeholder: "Name of the group" %>
        <%= f.text_field :description, class: 'form-control form-control-lg', placeholder: "A short description of the group" %>
    </div>
    <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>